{% extends 'forms.html' %}
{% block title %}Forget Password{% endblock %}

{% block form %}
<form id="loginForm" class="login-form active" method="POST" action="#">
    <input type="hidden" name="formType" value="login">
    <h3 id="form-title">Enter Email</h3>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter Email" required value="{{ email }}">
    <input type="submit" value="Submit" id="submit-btn" onclick="startTimer()">
</form>

<script>
    function startTimer() {
        const button = document.getElementById("submit-btn");

        
        setTimeout(() => {
            button.disabled = true;
            button.classList.add("disabled");
            let timeLeft = 60;

            
            function formatTime(seconds) {
                const minutes = Math.floor(seconds / 60);
                const remainingSeconds = seconds % 60;
                return `${String(minutes).padStart(2, '0')}:${String(remainingSeconds).padStart(2, '0')}`;
            }

            
            button.value = `${formatTime(timeLeft)}..`;

            const countdown = setInterval(() => {
                timeLeft--;
                button.value = `${formatTime(timeLeft)}...`;

                if (timeLeft <= 0) {
                    clearInterval(countdown);
                    button.disabled = false;
                    button.classList.remove("disabled");
                    button.value = "Submit";
                }
            }, 1000);
        }, 0); 
    }
</script>
{% endblock %}
